<div class="text-center">
    <h1 class="text-info pt-4">Поздравляем! Вы на шаг ближе к красивым цветам.</h1>
    <p class="pb-3">Мы получили ваш заказ, и ваш платеж будет обработан в ближайшее время!</p>
    <img src="/images/1645569028_37-krot-info-p-buket-romashek-s-vasilkami-tsveti-krasivo-59.jpg" width="80%" />
</div>